$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$icon-social-main-color: #afb1b8;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$background-color-main: #ffffff;
$background-color-second: #f5f4fa;
$background-color-footer: #2f303a;
$transition-duration: 250ms;
