.clients.list {
  display: flex;
  flex-wrap: wrap;
}
.clients-item {
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (max-width: $tablet - 1) {
    width: calc((100% - 30px * 1) / 2);
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 30px * 5) / 6);

    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}

.clients.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 90px;

  border: 1px solid $icon-social-main-color;
  border-radius: 4px;
  transition: border $transition-duration cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
.clients-icon {
  fill: $icon-social-main-color;
  transition: fill $transition-duration cubic-bezier(0.4, 0, 0.2, 1);

  .clients.link:hover &,
  .clients.link:focus & {
    fill: $accent-color;
  }
}
