footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color-footer;
}
.footer {
  text-align: center;

  @include for-size(tablet-landscape) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
