footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color-footer;
}
// .footer {
//   display: flex;
//   justify-content: space-between;
//   align-items: baseline;
// }
